* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 15px;
    border-bottom: none;
    color: black;
}

window#waybar {
    background: #FAF2EB ;
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip {
  background: #FAF2EB;
  border: 1px solid black;
  padding: 2px;
  text-shadow: none;
  color: black;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button.focused {
    color: black;
    border-bottom: 2px solid black;
}


#pulseaudio, #clock, #battery, #bluetooth, #network, #custom-pomoschni {
    margin: 0 10px;
    background-color: transparent;
}
